* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url("assets/images/tinder-background.webp");
  position: fixed;
}
